body {
    background-color:#000000;
}

h1 {
    color:gray;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    font-family: verdana;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
}

span {
    padding: 5px;
}
