body {
    background-color:#000000;
    font-family: arial;
    font-size: 12px;
    color: white;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

h1 {
    text-align: center;
    color:gray;
    font-family: verdana;
    font-size: 20px;
}

table {
    width: 100%;
    padding: 0% 10% 5% 8%;
    margin: auto;
}

td {
    height: 25px;
    width: 50%;
}

button {
    height: auto;
    font-size: 10px;
    padding: 0;
}

#rate {
    width: 66%;
}

#result {
    margin-left: 8%;
    margin-top: 0;
    margin-bottom: 5%;
}

.highlight {
    background-color: yellow;
}
